*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
   background-color: #f0f2f5;  
   font-family: 'Roboto Condensed', sans-serif;
   color: #1c1e21;
}
main{
    height: 100vh;
    width: 80vw;
    position: relative;
    margin: 0 auto;
}
footer{
    height: 30vh;
    background-color: white;
}
.container{
    display: flex;
    width: 100%;
    justify-content: space-around;
   align-items: center;
   max-width: 1000px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
.rigth, form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.left img{
    width: 300px;
    height: 125px;
    margin: -28px;
  
}
#facebook{
    font-size: 28px;
    font-weight: 600;
    color: black;
   line-height: 35px;
   width: 500px;
}
form{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    display: flex;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-size: 18px;
    padding-left: 20px;

}
 #btn-login{
     width: 100%;
     margin: 10px;
     height: 50px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding:  0 15px;
    font-weight: 700;
    color: white;
}

#btn-login:hover{
    background-color: #086ae9;
}
#forgot{
    display: block;
    padding: 10px 0 20px;
    text-decoration: none;
    color: #026bf3;
    border-bottom: 1px solid #dadde1;
    font-size: 14px;
    font-weight: 600;
}
#forgot:hover{
    text-decoration: underline;
}
#btn-new{
    
    background-color: #42b728;
    border: none;
    padding: 0 15px;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}

#btn-new:hover{
    background-color: rgb(7, 172, 7);
}
.rigth p{
    font-size: 15px;
      
}
.right p a{
    color:solid black;
    text-decoration: none;


}
.rigth, p a:hover{
    text-decoration: underline;
}


.footer{
    position: relative;
    max-width: 1000px;
    margin: 00 auto;
    background-color: solid white;
    font-weight: 600;
    font-size: 18px;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;

}
footer ul:first-child{
    border-bottom: 1px solid #dddfe2;
    
}
.footer ul li{
    padding-right: 20px;
    font-size: 13px;
    color: rgb(145, 145, 145);
}

 li:hover{
    text-decoration: underline;

}
footer small{
    font-size: 12px;
    color: rgb(145, 145, 145);

    
}

